In [1]:
import pandas as pd

### Problema 1: Usando os dados da EmpregadosCompanhiaMB, Capítulo 2:

In [2]:
dados = pd.read_csv("Dados/EmpregadosCompanhiaMB.csv", sep=";")

In [3]:
dados.head()

,N,EstadoCivil,GrauInstrucao,Nfilhos,Salario(xSalMin),AnosIdade,MesesIdade,RegiaoProcedencia
0,1,solteiro,ensino fundamental,0,4,26,3,interior
1,2,casado,ensino fundamental,1,"4,56",32,10,capital
2,3,casado,ensino fundamental,2,"5,25",36,5,capital
3,4,solteiro,ensino médio,0,"5,73",20,10,outra
4,5,solteiro,ensino fundamental,0,"6,26",40,7,outra

#### Construa a distribuição de freqüência conjunta para as variáveis grau de instrução e região de procedência.

##### Freqüências absolutas

In [4]:
tabelaConjunta = pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total')
tabelaConjunta

RegiaoProcedencia   capital  interior  outra  Total
GrauInstrucao
ensino fundamental        4         3      5     12
ensino médio              5         7      6     18
superior                  2         2      2      6
Total                    11        12     13     36

##### Freqüências relativas

In [5]:
tabelaConjunta = pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total', normalize=True)
tabelaConjunta

RegiaoProcedencia    capital  interior     outra     Total
GrauInstrucao
ensino fundamental  0.111111  0.083333  0.138889  0.333333
ensino médio        0.138889  0.194444  0.166667  0.500000
superior            0.055556  0.055556  0.055556  0.166667
Total               0.305556  0.333333  0.361111  1.000000

##### Freqüências relativas (porcentagem)

In [6]:
tabelaConjunta = round(pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total', normalize=True) * 100, 2)
tabelaConjunta

RegiaoProcedencia   capital  interior  outra   Total
GrauInstrucao
ensino fundamental    11.11      8.33  13.89   33.33
ensino médio          13.89     19.44  16.67   50.00
superior               5.56      5.56   5.56   16.67
Total                 30.56     33.33  36.11  100.00

#### Qual a porcentagem de funcionários que têm o ensino médio?

In [7]:
tabelaConjunta.loc['ensino médio', 'Total']

50.0

#### Qual a porcentagem daqueles que têm o ensino médio e são do interior?

In [8]:
tabelaConjunta.loc['ensino médio', 'interior']

19.44

#### Dentre os funcionários do interior, quantos porcento têm o ensino médio?

In [9]:
interiorMedio = tabelaConjunta.loc['ensino médio', 'interior']

ttlFuncInterior = tabelaConjunta.loc['Total', 'interior']

porcentagem = round((interiorMedio / ttlFuncInterior) * 100, 2)

print(porcentagem)

58.33

### Problema 2: No problema anterior, sorteando um funcionário ao acaso entre os 36:

In [10]:
tabelaConjunta = round(pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], normalize=True) * 100, 2)
tabelaConjunta

RegiaoProcedencia   capital  interior  outra
GrauInstrucao
ensino fundamental    11.11      8.33  13.89
ensino médio          13.89     19.44  16.67
superior               5.56      5.56   5.56

#### Qual será provavelmente o seu grau de instrução?

In [11]:
freqInstrucao = tabelaConjunta.sum(axis=1)
freqInstrucao.idxmax()

'ensino médio'

#### E sua região de procedência?

In [12]:
freqRegiao = tabelaConjunta.sum(axis=0)
freqRegiao.idxmax()

'outra'

#### Qual a probabilidade do sorteado ter nível superior?

In [13]:
freqInstrucao.loc['superior']

16.68

#### Sabendo que o sorteado é do interior, qual a probabilidade de ele possuir nível superior?

In [14]:
round((tabelaConjunta.loc['superior', 'interior'] / freqRegiao.loc['interior']) * 100, 2)

16.68

#### Sabendo que o escolhido é da capital, qual a probabilidade de ele possuir nível superior?

In [15]:
round((tabelaConjunta.loc['superior', 'capital'] / freqRegiao.loc['capital']) * 100, 2)

18.19

### Problema 3: Numa pesquisa sobre rotatividade de mão-de-obra, para uma amostra de 40 pessoas foram observadas duas variáveis: número de empregos nos últimos dois anos (X) e salário mais recente, em número de salários mínimos (Y). Os resultados foram:

In [16]:
dados = pd.read_csv("Dados/RotatividadeMao-de-obra.csv", sep =";")
dados

    Individuo  X  Y
0           1  1  6
1           2  3  2
2           3  2  4
3           4  3  1
4           5  2  4
5           6  2  1
6           7  3  3
7           8  1  5
8           9  2  2
9          10  3  2
10         11  2  5
11         12  3  2
12         13  1  6
13         14  2  6
14         15  3  2
15         16  4  2
16         17  1  5
17         18  2  5
18         19  2  1
19         20  2  1
20         21  2  4
21         22  3  2
22         23  4  1
23         24  1  5
24         25  2  4
25         26  3  2
26         27  4  1
27         28  1  5
28         29  4  4
29         30  3  3
30         31  2  2
31         32  1  1
32         33  4  1
33         34  2  6
34         35  4  2
35         36  3  1
36         37  1  4
37         38  3  2
38         39  2  3
39         40  2  5

#### Usando a mediana, classifique os indivíduos em dois níveis, alto e baixo, para cada uma das variáveis, e construa a distribuição de freqüências conjunta das duas classificações.

In [17]:
def classificar(valor, mediana):
    if valor >= mediana:
        return 'Alto'
    else:
        return 'Baixo'

In [18]:
# Renomeando
dados = dados.rename(columns={'X': 'Rotatividade', 'Y': 'NSalariosMinimos'})

mediana = dados['Rotatividade'].median()

dados['Rotatividade'] = dados['Rotatividade'].apply(lambda x: classificar(x, mediana))

mediana = dados['NSalariosMinimos'].median()

dados['NSalariosMinimos'] = dados['NSalariosMinimos'].apply(lambda x: classificar(x, mediana))

dados

    Individuo Rotatividade NSalariosMinimos
0           1        Baixo             Alto
1           2         Alto            Baixo
2           3         Alto             Alto
3           4         Alto            Baixo
4           5         Alto             Alto
5           6         Alto            Baixo
6           7         Alto             Alto
7           8        Baixo             Alto
8           9         Alto            Baixo
9          10         Alto            Baixo
10         11         Alto             Alto
11         12         Alto            Baixo
12         13        Baixo             Alto
13         14         Alto             Alto
14         15         Alto            Baixo
15         16         Alto            Baixo
16         17        Baixo             Alto
17         18         Alto             Alto
18         19         Alto            Baixo
19         20         Alto            Baixo
20         21         Alto             Alto
21         22         Alto            Baixo
22         23         Alto            Baixo
23         24        Baixo             Alto
24         25         Alto             Alto
25         26         Alto            Baixo
26         27         Alto            Baixo
27         28        Baixo             Alto
28         29         Alto             Alto
29         30         Alto             Alto
30         31         Alto            Baixo
31         32        Baixo            Baixo
32         33         Alto            Baixo
33         34         Alto             Alto
34         35         Alto            Baixo
35         36         Alto            Baixo
36         37        Baixo             Alto
37         38         Alto            Baixo
38         39         Alto             Alto
39         40         Alto             Alto

In [19]:
tabelaConjunta = pd.crosstab(dados['Rotatividade'], dados['NSalariosMinimos'], margins=True, margins_name='Total')
tabelaConjunta

NSalariosMinimos  Alto  Baixo  Total
Rotatividade
Alto                13     19     32
Baixo                7      1      8
Total               20     20     40

In [20]:
tabelaConjunta = round(pd.crosstab(dados['Rotatividade'], dados['NSalariosMinimos'], margins=True, margins_name='Total', normalize=True) * 100, 2)
tabelaConjunta

NSalariosMinimos  Alto  Baixo  Total
Rotatividade
Alto              32.5   47.5   80.0
Baixo             17.5    2.5   20.0
Total             50.0   50.0  100.0

#### Qual a porcentagem das pessoas com baixa rotatividade e ganhando pouco?

In [21]:
tabelaConjunta.loc['Baixo', 'Baixo']

2.5

#### Qual a porcentagem das pessoas que ganham pouco?

In [22]:
tabelaConjunta.loc['Total', 'Baixo']

50.0

#### Entre as pessoas com baixa rotatividade, qual a porcentagem das que ganham pouco?

In [23]:
totalBaixaRotatividade = tabelaConjunta.loc['Baixo', 'Total']

BaixaRotatividadeGanhandoPouco = tabelaConjunta.loc['Baixo', 'Baixo']


(BaixaRotatividadeGanhandoPouco / totalBaixaRotatividade ) * 100

12.5

#### A informação adicional dada em (d) mudou muito a porcentagem observada em (c)?O que isso significa?

Sim, pois a maioria da pessoas que recebem pouco tem uma alta rotatividae.

### Problema 4: Usando os dados do Problema 1, responda:

In [24]:
dados = pd.read_csv("Dados/EmpregadosCompanhiaMB.csv", sep=";")
dados.head()

,N,EstadoCivil,GrauInstrucao,Nfilhos,Salario(xSalMin),AnosIdade,MesesIdade,RegiaoProcedencia
0,1,solteiro,ensino fundamental,0,4,26,3,interior
1,2,casado,ensino fundamental,1,"4,56",32,10,capital
2,3,casado,ensino fundamental,2,"5,25",36,5,capital
3,4,solteiro,ensino médio,0,"5,73",20,10,outra
4,5,solteiro,ensino fundamental,0,"6,26",40,7,outra

#### Qual a distribuição das proporções do grau de educação segundo cada uma das regiões de procedência?

In [25]:
tabelaConjunta = pd.crosstab(dados['RegiaoProcedencia'], dados['GrauInstrucao'], margins=True, margins_name='Total')
tabelaConjunta

GrauInstrucao      ensino fundamental  ensino médio  superior  Total
RegiaoProcedencia
capital                             4             5         2     11
interior                            3             7         2     12
outra                               5             6         2     13
Total                              12            18         6     36

#### Baseado no resultado anterior e no Problema 2, você diria que existe dependência entre a região de procedência e o nível de educação do funcionário?

Não acho que existe uma dependência, pois não existe uma grande diferença.

### Problema 5: Usando o Problema 3, verifique se há relações entre as variáveis rotatividade e salário.

In [26]:
dados = pd.read_csv("Dados/RotatividadeMao-de-obra.csv", sep =";")
dados = dados.rename(columns={'X': 'Rotatividade', 'Y': 'NSalariosMinimos'})
mediana = dados['Rotatividade'].median()
dados['Rotatividade'] = dados['Rotatividade'].apply(lambda x: classificar(x, mediana))
mediana = dados['NSalariosMinimos'].median()
dados['NSalariosMinimos'] = dados['NSalariosMinimos'].apply(lambda x: classificar(x, mediana))

dados.head()

   Individuo Rotatividade NSalariosMinimos
0          1        Baixo             Alto
1          2         Alto            Baixo
2          3         Alto             Alto
3          4         Alto            Baixo
4          5         Alto             Alto

In [27]:
tabelaConjunta = pd.crosstab(dados['NSalariosMinimos'], dados['Rotatividade'], margins=True, margins_name='Total')
tabelaConjunta

Rotatividade      Alto  Baixo  Total
NSalariosMinimos
Alto                13      7     20
Baixo               19      1     20
Total               32      8     40

Existe uma relação que quando o salário é baixo existe uma maior rotatividade

### Problema 6: Uma companhia de seguros analisou a freqüência com que 2.000 segurados (1.000 homens e 1.000 mulheres) usaram o hospital. Os resultados foram:

In [28]:
dados = pd.DataFrame({"Sexo": ["Homem"]*1000 + ["Mulher"]*1000})

# Inicializando a coluna "UsoHospital" como "Não usaram o hospital"
dados["UsoHospital"] = "Não usaram o hospital"

# Marcando homens e mulheres conforme as condições especificadas
for i in range(len(dados)):
    if dados.loc[i, "Sexo"] == "Homem":
        if i < 100:
            dados.loc[i, "UsoHospital"] = "Usaram o hospital"
    elif dados.loc[i, "Sexo"] == "Mulher":
        if i < 150 + 1000:
            dados.loc[i, "UsoHospital"] = "Usaram o hospital"

dados.head()

    Sexo        UsoHospital
0  Homem  Usaram o hospital
1  Homem  Usaram o hospital
2  Homem  Usaram o hospital
3  Homem  Usaram o hospital
4  Homem  Usaram o hospital

In [29]:
tabelaConjunta = pd.crosstab(dados['UsoHospital'], dados['Sexo'], margins=True, margins_name='Total')

#Ordenando para ficar similar ao livro
tabelaConjunta = tabelaConjunta.reindex(['Usaram o hospital', 'Não usaram o hospital', 'Total'])

tabelaConjunta

Sexo                   Homem  Mulher  Total
UsoHospital
Usaram o hospital        100     150    250
Não usaram o hospital    900     850   1750
Total                   1000    1000   2000

In [30]:
tabelaConjunta = round(pd.crosstab(dados['UsoHospital'], dados['Sexo'], margins=True, margins_name='Total', normalize=True) * 100, 2)
tabelaConjunta = tabelaConjunta.reindex(['Usaram o hospital', 'Não usaram o hospital', 'Total'])
tabelaConjunta

Sexo                   Homem  Mulher  Total
UsoHospital
Usaram o hospital        5.0     7.5   12.5
Não usaram o hospital   45.0    42.5   87.5
Total                   50.0    50.0  100.0

#### Calcule a proporção de homens entre os indivíduos que usaram o hospital.

In [31]:
tabelaConjunta.loc['Usaram o hospital', 'Homem'] / tabelaConjunta.loc['Usaram o hospital', 'Total'] * 100

40.0

#### Calcule a proporção de homens entre os indivíduos que não usaram o hospital.

In [32]:
round(tabelaConjunta.loc['Não usaram o hospital', 'Homem'] / tabelaConjunta.loc['Não usaram o hospital', 'Total'] * 100, 2)

51.43

#### O uso do hospital independe do sexo do segurado?

Mulheres possuem uma tendência maior de uso, porém não existe uma grande diferença analisando essa amostra.

### Problema 7: Usando os dados do Problema 1, calcule o valor de χ2 e o coeficiente de contingência C.Esses valores estão de acordo com as conclusões obtidas anteriormente?