In [10]:
import pandas as pd

### Problema 1: Usando os dados da EmpregadosCompanhiaMB, Capítulo 2:

In [11]:
dados = pd.read_csv("Dados/EmpregadosCompanhiaMB.csv", sep=";")

In [12]:
dados.head()

,N,EstadoCivil,GrauInstrucao,Nfilhos,Salario(xSalMin),AnosIdade,MesesIdade,RegiaoProcedencia
0,1,solteiro,ensino fundamental,0,4,26,3,interior
1,2,casado,ensino fundamental,1,"4,56",32,10,capital
2,3,casado,ensino fundamental,2,"5,25",36,5,capital
3,4,solteiro,ensino médio,0,"5,73",20,10,outra
4,5,solteiro,ensino fundamental,0,"6,26",40,7,outra

#### Construa a distribuição de freqüência conjunta para as variáveis grau de instrução e região de procedência.

##### Freqüências absolutas

In [13]:
tabelaConjunta = pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total')
tabelaConjunta

RegiaoProcedencia   capital  interior  outra  Total
GrauInstrucao
ensino fundamental        4         3      5     12
ensino médio              5         7      6     18
superior                  2         2      2      6
Total                    11        12     13     36

##### Freqüências relativas

In [14]:
tabelaConjunta = pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total', normalize=True)
tabelaConjunta

RegiaoProcedencia    capital  interior     outra     Total
GrauInstrucao
ensino fundamental  0.111111  0.083333  0.138889  0.333333
ensino médio        0.138889  0.194444  0.166667  0.500000
superior            0.055556  0.055556  0.055556  0.166667
Total               0.305556  0.333333  0.361111  1.000000

##### Freqüências relativas (porcentagem)

In [15]:
tabelaConjunta = round(pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total', normalize=True) * 100, 2)
tabelaConjunta

RegiaoProcedencia   capital  interior  outra   Total
GrauInstrucao
ensino fundamental    11.11      8.33  13.89   33.33
ensino médio          13.89     19.44  16.67   50.00
superior               5.56      5.56   5.56   16.67
Total                 30.56     33.33  36.11  100.00

#### Qual a porcentagem de funcionários que têm o ensino médio?

In [16]:
tabelaConjunta.loc['ensino médio', 'Total']

50.0

#### Qual a porcentagem daqueles que têm o ensino médio e são do interior?

In [17]:
tabelaConjunta.loc['ensino médio', 'interior']

19.44

#### Dentre os funcionários do interior, quantos porcento têm o ensino médio?

In [18]:
interiorMedio = tabelaConjunta.loc['ensino médio', 'interior']

ttlFuncInterior = tabelaConjunta.loc['Total', 'interior']

porcentagem = round((interiorMedio / ttlFuncInterior) * 100, 2)

print(porcentagem)

58.33