In [1]:
import pandas as pd

### Problema 1: Usando os dados da EmpregadosCompanhiaMB, Capítulo 2:

In [2]:
dados = pd.read_csv("Dados/EmpregadosCompanhiaMB.csv", sep=";")

In [3]:
dados.head()

,N,EstadoCivil,GrauInstrucao,Nfilhos,Salario(xSalMin),AnosIdade,MesesIdade,RegiaoProcedencia
0,1,solteiro,ensino fundamental,0,4,26,3,interior
1,2,casado,ensino fundamental,1,"4,56",32,10,capital
2,3,casado,ensino fundamental,2,"5,25",36,5,capital
3,4,solteiro,ensino médio,0,"5,73",20,10,outra
4,5,solteiro,ensino fundamental,0,"6,26",40,7,outra

#### Construa a distribuição de freqüência conjunta para as variáveis grau de instrução e região de procedência.

##### Freqüências absolutas

In [4]:
tabelaConjunta = pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total')
tabelaConjunta

RegiaoProcedencia   capital  interior  outra  Total
GrauInstrucao
ensino fundamental        4         3      5     12
ensino médio              5         7      6     18
superior                  2         2      2      6
Total                    11        12     13     36

##### Freqüências relativas

In [5]:
tabelaConjunta = pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total', normalize=True)
tabelaConjunta

RegiaoProcedencia    capital  interior     outra     Total
GrauInstrucao
ensino fundamental  0.111111  0.083333  0.138889  0.333333
ensino médio        0.138889  0.194444  0.166667  0.500000
superior            0.055556  0.055556  0.055556  0.166667
Total               0.305556  0.333333  0.361111  1.000000

##### Freqüências relativas (porcentagem)

In [6]:
tabelaConjunta = round(pd.crosstab(dados['GrauInstrucao'], dados['RegiaoProcedencia'], margins=True, margins_name='Total', normalize=True) * 100, 2)
tabelaConjunta

RegiaoProcedencia   capital  interior  outra   Total
GrauInstrucao
ensino fundamental    11.11      8.33  13.89   33.33
ensino médio          13.89     19.44  16.67   50.00
superior               5.56      5.56   5.56   16.67
Total                 30.56     33.33  36.11  100.00

#### Qual a porcentagem de funcionários que têm o ensino médio?

In [7]:
tabelaConjunta.loc['ensino médio', 'Total']

50.0

#### Qual a porcentagem daqueles que têm o ensino médio e são do interior?

In [8]:
tabelaConjunta.loc['ensino médio', 'interior']

19.44

#### Dentre os funcionários do interior, quantos porcento têm o ensino médio?

In [9]:
interiorMedio = tabelaConjunta.loc['ensino médio', 'interior']

ttlFuncInterior = tabelaConjunta.loc['Total', 'interior']

porcentagem = round((interiorMedio / ttlFuncInterior) * 100, 2)

print(porcentagem)

58.33

### Problema 2: No problema anterior, sorteando um funcionário ao acaso entre os 36:

#### Qual será provavelmente o seu grau de instrução?

In [22]:
freqInstrucao = tabelaConjunta.sum(axis=1)
freqInstrucao.idxmax()

'ensino médio'

#### E sua região de procedência?

In [24]:
freqRegiao = tabelaConjunta.sum(axis=0)
freqRegiao.idxmax()

'outra'

#### Qual a probabilidade do sorteado ter nível superior?

In [25]:
freqInstrucao.loc['superior']

16.68

#### Sabendo que o sorteado é do interior, qual a probabilidade de ele possuir nível superior?

In [29]:
round((tabelaConjunta.loc['superior', 'interior'] / freqRegiao.loc['interior']) * 100, 2)

16.68

#### Sabendo que o escolhido é da capital, qual a probabilidade de ele possuir nível superior?

In [31]:
round((tabelaConjunta.loc['superior', 'capital'] / freqRegiao.loc['capital']) * 100, 2)

18.19

### Problema 3: Numa pesquisa sobre rotatividade de mão-de-obra, para uma amostra de 40 pessoas foram observadas duas variáveis: número de empregos nos últimos dois anos (X) e salário mais recente, em número de salários mínimos (Y). Os resultados foram:

In [33]:
dados = pd.read_csv("Dados/RotatividadeMao-de-obra.csv", sep =";")
dados

    Individuo  X  Y
0           1  1  6
1           2  3  2
2           3  2  4
3           4  3  1
4           5  2  4
5           6  2  1
6           7  3  3
7           8  1  5
8           9  2  2
9          10  3  2
10         11  2  5
11         12  3  2
12         13  1  6
13         14  2  6
14         15  3  2
15         16  4  2
16         17  1  5
17         18  2  5
18         19  2  1
19         20  2  1
20         21  2  4
21         22  3  2
22         23  4  1
23         24  1  5
24         25  2  4
25         26  3  2
26         27  4  1
27         28  1  5
28         29  4  4
29         30  3  3
30         31  2  2
31         32  1  1
32         33  4  1
33         34  2  6
34         35  4  2
35         36  3  1
36         37  1  4
37         38  3  2
38         39  2  3
39         40  2  5

#### Usando a mediana, classifique os indivíduos em dois níveis, alto e baixo, para cada uma das variáveis, e construa a distribuição de freqüências conjunta das duas classificações.

#### Qual a porcentagem das pessoas com baixa rotatividade e ganhando pouco?

#### Qual a porcentagem das pessoas que ganham pouco?

#### Entre as pessoas com baixa rotatividade, qual a porcentagem das que ganham pouco?

#### A informação adicional dada em (d) mudou muito a porcentagem observada em (c)?O que isso significa?